/* Add CSS Styling */
.odd-numbered{
    background-color: #e97474;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#one-id{
    color: blue;
    font-size: 36px;
}

.odd-numbered.third-para{
    font-size: 24px;
}

#another-id{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}